# Claude Code
.claude/

# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace/xcuserdata/
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Fastlane / profiles
*.mobileprovision
*.provisionprofile
